/* TAG selectors */
html{                   /*Internet Explorer FIX*/
    height: 100%;
    background-color: #EEE;
} 
body{
    position: relative;
    box-sizing: border-box;
    width: 95%;
    height: 100%;
    min-height: 500px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 5px ridge darkred;
}
header{
    display:flex;
    height: 30px;
    background-color: #EEE;
}
main{
    height: 96%;
}
textarea{
    overflow-y: auto;
    resize: none;
    font-size: 2.5rem;
    width : 90%;
    height : 80%; 
    border : none; 
    border-radius: 5px;
    background-color : rgba(200,200,200,.25);
}

/* #ID Selectors */
#closeButton{
    position: absolute;
    display: inline-block; 
    height: 20px;
    top: 0;
    right: 0;
}

/* .Class Selectors */
.stickyDiv{
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 10px black;
    border-radius: 5px;
    filter: alpha(opacity=90);
    font-weight: bold;
    opacity: .9;
    font-size: .9rem;
    color: black;
    text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white;
    cursor: url('../img/open.png')20 10, pointer;
    /* Using JS for width and height*/
}
.stickyDiv:active{
    cursor: url('../img/closed.png')20 10, pointer;
}
.red{
    background-color: red;
}
.white{
    background-color: white;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.royalblue{
    background-color: royalblue;
}